@import url(https://db.onlinewebfonts.com/c/11b9313c156261bdee0bc8b745b34450?family=DwarvenAxe+BB+W00+Regular); 

body {
    margin: 0;
}

/* NAVBAR */

.navbar {
    position:sticky;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #560a03;
    align-content: space-between;
    column-gap: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

a {
    font-family: "DwarvenAxe BB W00 Regular";
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.active {
    color: #ebdfd5;
}

/* INDEX */

.index-main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #3e0909;
}

.index-text {
    font-family: "DwarvenAxe BB W00 Regular";
    color: #ebdfd5;
    text-shadow: 2px 2px black;
}

.index-text.top {
    padding-top: 3%;
    font-size: 35px;
}

#navbar-icon {
    width: 70px;
    content: url(assets/dd-torch.png);
}

.block1 {
    display: flex;
    padding-top: 100px;
    padding-right: 10%;
    justify-content: space-between;
    background-image: url(assets/dd-ruins.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#index-necromancer {
    content: url(assets/dd-necromancer.gif);
}

#index-vestal {
    content: url(assets/dd-vestal-combat.gif);
    padding-top: 110px;
    padding-bottom: 15px;
}

#index-pd {
    content: url(assets/dd-pd-combat.gif);
    padding-top: 110px;
    padding-bottom: 15px;
}

#index-hwm {
    content: url(assets/dd-hwm-combat.gif);
    padding-top: 110px;
    padding-bottom: 15px;
}

#index-crusader {
    content: url(assets/dd-crusader-combat.gif);
    padding-bottom: 15px;
}