/* @import url(https://db.onlinewebfonts.com/c/11b9313c156261bdee0bc8b745b34450?family=DwarvenAxe+BB+W00+Regular);  */
@font-face {
    font-family: "DwarvenAxe BB W00 Regular";
    src: url(../assets/DwarvenAxe\ BB\ W00\ Regular.ttf);
}

body {
    margin: 0;
}

input {
    background-color: #675654;
    border-radius: 5px;
    border-color: #201817;
    font-size: 20px;
    color: #ebdfd5;
    text-shadow: 2px 2px #201817;
}

select {
    background-color: #675654;
    border-radius: 5px;
    border-color: #201817;
    font-family: "DwarvenAxe BB W00 Regular";
    font-size: 25px;
    color: #ebdfd5;
    text-shadow: 2px 2px #201817;
}

button {
    background-color: #675654;
    border-radius: 5px;
    border-color: #201817;
    font-family: "DwarvenAxe BB W00 Regular";
    font-size: 25px;
    color: #ebdfd5;
    text-shadow: 2px 2px #201817;
}

/* NAVBAR */

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #560a03;
    align-content: space-between;
    column-gap: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

a {
    font-family: "DwarvenAxe BB W00 Regular";
    font-size: 30px;
    color: #ebdfd5;
    text-shadow: 2px 2px #201817;
    text-decoration: none;
}

.active {
    color: #CE9C46;
}

#navbar-icon {
    width: 70px;
    content: url(/assets/dd-torch.png);
}


/* INDEX */

.block1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%), url(../assets/dd-hamlet-broken.png);
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%), url(../assets/dd-hamlet-broken.png);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%), url(../assets/dd-hamlet-broken.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%), url(../assets/dd-hamlet-broken.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(100vh - 96.4px);
}

.block2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 1) 80%), url(../assets/dd-battlestage.png);
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 1) 80%), url(../assets/dd-battlestage.png);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 1) 80%), url(../assets/dd-battlestage.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 1) 80%), url(../assets/dd-battlestage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(100vh - 96.4px);
}

.hamlet1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 15px;
    width: 30%;
    height: 40%;
    text-align: center;
}

.hamlet2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 15px;
    width: 30%;
    height: 40%;
    text-align: center;
}

.hamlet3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 15%;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 15px;
    width: 30%;
    height: 40%;
    text-align: center;
}

h1 {
    font-family: "DwarvenAxe BB W00 Regular";
    color: #ebdfd5;
    font-size: 30px;
    text-shadow: 2px 2px #201817;
}


p {
    font-family: "DwarvenAxe BB W00 Regular";
    color: #ebdfd5;
    font-size: 20px;
    text-shadow: 2px 2px #201817;
}


.battlestage-text {
    font-family: "DwarvenAxe BB W00 Regular";
    color: #ebdfd5;
    text-shadow: 2px 2px #201817;
    font-size: 25px;
    font-size: 25px;
}

#index-necromancer {
    content: url(/assets/dd-necromancer.gif);
    height: 80%;
    padding-top: 8%;
}

#index-vestal {
    content: url(/assets/dd-vestal-combat.gif);
    height: 65%;
    padding-top: 14%;
}

#index-crusader {
    content: url(/assets/dd-crusader-combat.gif);
    height: 85%;
    padding-top: 6%;
}

/* CADASTRO */

.block3 {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/dd-circus-entrance.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(100vh - 96.4px);
    font-family: "DwarvenAxe BB W00 Regular";
    color: #ebdfd5;
    font-size: 40px;
    text-shadow: 2px 2px #201817;
    align-items: center;
    justify-content: center;
}

.cadastro-form {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    gap: 1%;
    width: 25vw;
    height: 50vh;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.45);
}

/* LOGIN */

.block5 {
    display: flex;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%), url(../assets/dd-party.png);
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%), url(../assets/dd-party.png);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%), url(../assets/dd-party.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%), url(../assets/dd-party.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(100vh - 96.4px);
    font-family: "DwarvenAxe BB W00 Regular";
    color: #ebdfd5;
    text-shadow: 2px 2px #201817;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    justify-content: center;
}

#login-announcer {
    content: url(../assets/dd-townevent.webp);
    height: 60vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
    height: 35vh;
    width: 20vw;
    font-size: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.45);
}


/* DASHBOARD */

#dashboard-body {
    display: flex;
    flex-direction: column;
    color: #ebdfd5;
    text-shadow: 2px 2px #201817;
    font-family: "DwarvenAxe BB W00 Regular";
    background-color: #3e0909;
    background-image: url(../assets/dd-all.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

#botaoAlternar {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
    align-self: center;
    font-family: "DwarvenAxe BB W00 Regular";
    color: #ebdfd5;
    background-color: #201817;
}

#ranking_titulo {
    color: #ebdfd5;
    font-size: 25px;
    text-shadow: 2px 2px #201817;
    font-family: "DwarvenAxe BB W00 Regular";
    font-size: 25px;
    align-self: center;
}

#pizza-main {
    margin-top: 5%;
    width: 30vw;
    height: 20vh;
    padding-bottom: 17%;    
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.45);
}

#div-sessao {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    gap: 100px;
}

#div_ranking {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    gap: 20%;
    justify-content: space-evenly;
}

#graficos {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    justify-content: space-around;
}

.container {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 10px;
}

#ranking-main {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: 40vh;
    width: 25vw;
    overflow: scroll;
    border-radius: 10px;
    padding-bottom: 2%;
    background-color: rgba(0, 0, 0, 0.5);
}

#comentarios {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.dashboard-form {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#feed_container {
    overflow: scroll;
    height: 200px;
    width: 400px;
    font-size: 20px;
}

#titulo {
    background-color: #675654;
    border-radius: 10px;
}

#textarea_descricao {
    background-color: #675654;
    border-radius: 5px;
    height: 100px;
}


#idComentario {
    background-color: #675654;
    border-radius: 10px;
}

#form_postagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#form_delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 28.5%;
    gap: 10px;
}